In [33]:
import pandas as pd
movies=pd.read_csv('data/movies.csv')
rat1_csv=pd.read_csv('data/ratings1.csv')
rat2_csv=pd.read_csv('data/ratings2.csv')
rating=pd.concat([rat1_csv,rat2_csv],ignore_index=True)
joined_false = rating.join(movies.set_index('movieId'),on='movieId',how='left')
merged = rating.merge(movies, on='movieId', how='left')
display(merged.head())
print('Число строк в таблице ratings_dates: ', rating.shape[0])
print('Число строк в таблице merged: ', merged.shape[0])
print(rating.shape[0] == merged.shape[0])

,userId,movieId,rating,title,genres
0,1,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

Число строк в таблице ratings_dates:  100837
Число строк в таблице merged:  100837
True